@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* :root {
    --bg-color: #1a1a1a; 
    --second-bg-color: #222222; 
    --text-color: #fff; 
    --main-color: #ff6f00; 
} */

:root {
    --bg-color: #121212;
    --second-bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --main-color: #ff5500;
}

html {
    font-size: 62.5;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: 1rem solid rgba(0, 0, 0, 2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
    padding: 1rem;
    margin: 0 15rem 5rem 15rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img-in-about img {
    width: 7vw;
    margin: 1rem;
}

.heading {
    font-size: 4.5rem;
}

.sub-heading{
    font-size: 3rem;
    margin: 2rem auto 0.5rem auto;
    justify-content: center;
    text-align: center;
    color: var(--main-color);
    transition: transform 0.5s ease,color 0.7s ease ;
}

.sub-heading:hover{
    color: var(--text-color);
    transform: scaleX(1.5);
    cursor: context-menu;
}

.about-content p {
    font-size: 2rem;
    margin: 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: 1rem solid rgba(0, 0, 0, 2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .about {
        flex-direction: column-reverse;
    }
}

@media (max-width: 450px) {
    .html {
        font-size: 50%;
    }
}

@media (max-width; 365px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}